{% extends "Auto_DjangoWeb_IvanovLev/layout.html" %}
{% load static %}
{% block title %}AutoStory: Контакты{% endblock %}
{% block content %}
<h2>Свяжитесь с нами</h2>
<p class="intro">
    Мы всегда рады вашим вопросам, предложениям и отзывам.
</p>

<h3>Наши контакты</h3>
<ul>
    <li><b>Email:</b> info@autostory.ru</li>
    <li><b>Телефон:</b> +7 (999) 123-45-67</li>
    <li><b>Адрес:</b> г. Псков, ул. Льва Толстого, д. 1</li>
</ul>

<h3>Мы есть в социальных сетях. Присоединяйтесь!</h3>
<ul>
    <li><a href="#" target="_blank">ВКонтакте</a></li>
    <li><a href="#" target="_blank">Telegram</a></li>
    <li><a href="#" target="_blank">YouTube</a></li>
</ul>
{% endblock %}