{% extends "Auto_DjangoWeb_IvanovLev/layout.html" %}
{% load static %}
{% block title %}AutoStory: Продажа и история автомобилей{% endblock %}
{% block content %}
<h2>Это не просто сайт, а невероятная возможность залипнуть</h2>
<p class="intro">
    <b>AutoStory</b> — это ваше тёплое место по продаже автомобилей. Листайте объявления не выходя из дома и одним кликом по объявлению вы сможете приобрести нужный автомобиль!
    Либо создать собственное объявление и подать о продаже автомобиля.
</p>
    <h2>Собственный журнал AutoStory</h2>
<p>В разделе «Журнал» мы собираем подробную информацию о различных и легендарных автомобилей. Вы познакомитесь здесь с тех. характеристиками, историей и интересными фактами.</p>
<img src="{% static 'ВАЗ_2102.jpg' %}" width="500">
    <h2>Хотите быстро найти нового владельца своего авто?</h2>
<p>В разделе <span class="highlight">«Продажа»</span> пользователи могут размещать объявления о своих автомобилях. Каждое объявление привязано к модели из Журнала, чтобы покупатель мог сразу узнать все подробности.</p>
<img src="{% static 'vaz_set.jpeg' %}" width="500">
    <h3>Почему AutoStory?</h3>
<ul>
    <li>Удобный каталог моделей</li>
    <li>Достоверная информация от администратора</li>
    <li>Живые объявления от реальных владельцев</li>
    <li>Автомобили с историей</li>
</ul>
{% endblock %}